doctype html
html.loading(lang='en', data-textdirection='ltr')
	//  BEGIN: Head
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
		meta(name='description', content='Vuexy admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
		meta(name='keywords', content='admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app')
		meta(name='author', content='PIXINVENT')
		title Register Page - Vuexy - Bootstrap HTML admin template
		link(rel='apple-touch-icon', href='../../../app-assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='../../../app-assets/images/ico/favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600', rel='stylesheet')
		//  BEGIN: Vendor CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/vendors.min.css')
		//  END: Vendor CSS
		//  BEGIN: Theme CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/bootstrap-extended.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/colors.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/components.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/themes/dark-layout.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/themes/semi-dark-layout.css')
		//  BEGIN: Page CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/core/menu/menu-types/vertical-menu.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/core/colors/palette-gradient.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css/pages/authentication.css')
		//  END: Page CSS
		//  BEGIN: Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style.css')
		//  END: Custom CSS
	//  END: Head
	//  BEGIN: Body
	body.vertical-layout.vertical-menu-modern.semi-dark-layout.1-column.navbar-floating.footer-static.bg-full-screen-image.blank-page.blank-page(data-open='click', data-menu='vertical-menu-modern', data-col='1-column', data-layout='semi-dark-layout')
		//  BEGIN: Content
		.app-content.content
			.content-overlay
			.header-navbar-shadow
			.content-wrapper
				.content-header.row.
					
					
				.content-body
					section.row.flexbox-container
						.col-xl-8.col-10.d-flex.justify-content-center
							.card.bg-authentication.rounded-0.mb-0
								.row.m-0
									.col-lg-6.d-lg-block.d-none.text-center.align-self-center.pl-0.pr-3.py-0
										img(src='../../../app-assets/images/pages/register.jpg', alt='branding logo')
									.col-lg-6.col-12.p-0
										.card.rounded-0.mb-0.p-2
											.card-header.pt-50.pb-1
												.card-title
													h4.mb-0 Create Account
											p.px-2 Fill the below form to create a new account.
											.card-content
												.card-body.pt-0
													form(action='index.html')
														.form-label-group
															input#inputName.form-control(type='text', placeholder='Name', required)
															label(for='inputName') Name
														.form-label-group
															input#inputEmail.form-control(type='email', placeholder='Email', required)
															label(for='inputEmail') Email
														.form-label-group
															input#inputPassword.form-control(type='password', placeholder='Password', required)
															label(for='inputPassword') Password
														.form-label-group
															input#inputConfPassword.form-control(type='password', placeholder='Confirm Password', required)
															label(for='inputConfPassword') Confirm Password
														.form-group.row
															.col-12
																fieldset.checkbox
																	.vs-checkbox-con.vs-checkbox-primary
																		input(type='checkbox', checked)
																		span.vs-checkbox
																			span.vs-checkbox--check
																				i.vs-icon.feather.icon-check
																		span I accept the terms & conditions.
														a.btn.btn-outline-primary.float-left.btn-inline.mb-50(href='auth-login.html') Login
														button.btn.btn-primary.float-right.btn-inline.mb-50(type='submit').
															Register
															
		//  END: Content
		//  BEGIN: Vendor JS
		script(src='../../../app-assets/vendors/js/vendors.min.js')
		//  BEGIN Vendor JS
		//  BEGIN: Page Vendor JS
		//  END: Page Vendor JS
		//  BEGIN: Theme JS
		script(src='../../../app-assets/js/core/app-menu.js')
		script(src='../../../app-assets/js/core/app.js')
		script(src='../../../app-assets/js/scripts/components.js')
		//  END: Theme JS
		//  BEGIN: Page JS
		//  END: Page JS
	//  END: Body