doctype html
html.loading(lang='en', data-textdirection='rtl')
	//  BEGIN: Head
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
		meta(name='description', content='Vuexy admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
		meta(name='keywords', content='admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app')
		meta(name='author', content='PIXINVENT')
		title User View - Vuexy - Bootstrap HTML admin template
		link(rel='apple-touch-icon', href='../../../app-assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='../../../app-assets/images/ico/favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600', rel='stylesheet')
		//  BEGIN: Vendor CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/vendors-rtl.min.css')
		//  END: Vendor CSS
		//  BEGIN: Theme CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/bootstrap-extended.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/colors.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/components.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/themes/dark-layout.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/themes/semi-dark-layout.css')
		//  BEGIN: Page CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/core/menu/menu-types/horizontal-menu.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/core/colors/palette-gradient.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/pages/app-user.css')
		//  END: Page CSS
		//  BEGIN: Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/custom-rtl.css')
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style-rtl.css')
		//  END: Custom CSS
	//  END: Head
	//  BEGIN: Body
	body.horizontal-layout.horizontal-menu.dark-layout.2-columns.navbar-floating.footer-static(data-open='hover', data-menu='horizontal-menu', data-col='2-columns', data-layout='dark-layout')
		//  BEGIN: Header
		nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.navbar-fixed.navbar-brand-center
			.navbar-header.d-xl-block.d-none
				ul.nav.navbar-nav.flex-row
					li.nav-item
						a.navbar-brand(href='../../../html/rtl/horizontal-menu-template-dark/index.html')
							.brand-logo
			.navbar-wrapper
				.navbar-container.content
					.navbar-collapse#navbar-mobile
						.mr-auto.float-left.bookmark-wrapper.d-flex.align-items-center
							ul.nav.navbar-nav
								li.nav-item.mobile-menu.d-xl-none.mr-auto
									a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
										i.ficon.feather.icon-menu
							ul.nav.navbar-nav.bookmark-icons
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-todo.html', data-toggle='tooltip', data-placement='top', title='Todo')
										i.ficon.feather.icon-check-square
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-chat.html', data-toggle='tooltip', data-placement='top', title='Chat')
										i.ficon.feather.icon-message-square
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-email.html', data-toggle='tooltip', data-placement='top', title='Email')
										i.ficon.feather.icon-mail
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-calender.html', data-toggle='tooltip', data-placement='top', title='Calendar')
										i.ficon.feather.icon-calendar
							ul.nav.navbar-nav
								li.nav-item.d-none.d-lg-block
									a.nav-link.bookmark-star
										i.ficon.feather.icon-star.warning
									.bookmark-input.search-input
										.bookmark-input-icon
											i.feather.icon-search.primary
										input.form-control.input(type='text', placeholder='Explore Vuexy...', tabindex='0', data-search='template-list')
										ul.search-list.search-list-bookmark
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-language.nav-item
								a.dropdown-toggle.nav-link#dropdown-flag(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-us
									span.selected-language English
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#', data-language='en')
										i.flag-icon.flag-icon-us
										|  English
									a.dropdown-item(href='#', data-language='fr')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#', data-language='de')
										i.flag-icon.flag-icon-de
										|  German
									a.dropdown-item(href='#', data-language='pt')
										i.flag-icon.flag-icon-pt
										|  Portuguese
							li.nav-item.d-none.d-lg-block
								a.nav-link.nav-link-expand
									i.ficon.feather.icon-maximize
							li.nav-item.nav-search
								a.nav-link.nav-link-search
									i.ficon.feather.icon-search
								.search-input
									.search-input-icon
										i.feather.icon-search.primary
									input.input(type='text', placeholder='Explore Vuexy...', tabindex='-1', data-search='template-list')
									.search-input-close
										i.feather.icon-x
									ul.search-list.search-list-main
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.feather.icon-bell
									span.badge.badge-pill.badge-primary.badge-up 5
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										.dropdown-header.m-0.p-2
											h3.white 5 New
											span.notification-title App Notifications
									li.scrollable-container.media-list
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-plus-square.font-medium-5.primary
												.media-body
													h6.primary.media-heading You have new order!
													small.notification-text Are your going to meet me tonight?
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') 9 hours ago
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-download-cloud.font-medium-5.success
												.media-body
													h6.success.media-heading.red.darken-1 99% Server load
													small.notification-text You got new order of goods.
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') 5 hour ago
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-alert-triangle.font-medium-5.danger
												.media-body
													h6.danger.media-heading.yellow.darken-3 Warning notifixation
													small.notification-text Server have 99% CPU usage.
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Today
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-check-circle.font-medium-5.info
												.media-body
													h6.info.media-heading Complete the task
													small.notification-text Cake sesame snaps cupcake
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Last week
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-file.font-medium-5.warning
												.media-body
													h6.warning.media-heading Generate monthly report
													small.notification-text Chocolate cake oat cake tiramisu marzipan
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Last month
									li.dropdown-menu-footer
										a.dropdown-item.p-1.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									.user-nav.d-sm-flex.d-none
										span.user-name.text-bold-600 John Doe
										span.user-status Available
									span
										img.round(src='../../../app-assets/images/portrait/small/avatar-s-11.jpg', alt='avatar', height='40', width='40')
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='page-user-profile.html')
										i.feather.icon-user
										|  Edit Profile
									a.dropdown-item(href='app-email.html')
										i.feather.icon-mail
										|  My Inbox
									a.dropdown-item(href='app-todo.html')
										i.feather.icon-check-square
										|  Task
									a.dropdown-item(href='app-chat.html')
										i.feather.icon-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='auth-login.html')
										i.feather.icon-power
										|  Logout
		ul.main-search-list-defaultlist.d-none
			li.d-flex.align-items-center
				a.pb-25(href='#')
					h6.text-primary.mb-0 Files
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/xls.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Two new item submitted
							small.text-muted Marketing Manager
					small.search-data-size.mr-50.text-muted '17kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/jpg.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 52 JPG file Generated
							small.text-muted FontEnd Developer
					small.search-data-size.mr-50.text-muted '11kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/pdf.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 25 PDF File Uploaded
							small.text-muted Digital Marketing Manager
					small.search-data-size.mr-50.text-muted '150kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/doc.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Anna_Strong
							small.text-muted Web Designer
					small.search-data-size.mr-50.text-muted '256kb
			li.d-flex.align-items-center
				a.pb-25(href='#')
					h6.text-primary.mb-0 Members
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-8.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 John Doe
							small.text-muted UI designer
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-1.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Michal Clark
							small.text-muted FontEnd Developer
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-14.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Milena Gibson
							small.text-muted Digital Marketing Manager
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-6.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Anna Strong
							small.text-muted Web Designer
		ul.main-search-list-defaultlist-other-list.d-none
			li.auto-suggestion.d-flex.align-items-center.justify-content-between.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100.py-50
					.d-flex.justify-content-start
						span.mr-75.feather.icon-alert-circle
						span No results found.
		//  END: Header
		//  BEGIN: Main Menu
		.horizontal-menu-wrapper
			.header-navbar.navbar-expand-sm.navbar.navbar-horizontal.floating-nav.navbar-dark.navbar-without-dd-arrow.navbar-shadow.menu-border(role='navigation', data-menu='menu-wrapper')
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mr-auto
							a.navbar-brand(href='../../../html/rtl/horizontal-menu-template-dark/index.html')
								.brand-logo
								h2.brand-text.mb-0 Vuexy
						li.nav-item.nav-toggle
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.feather.icon-x.d-block.d-xl-none.font-medium-4.primary.toggle-icon
								i.toggle-icon.feather.icon-disc.font-medium-4.d-none.d-xl-block.collapse-toggle-icon.primary(data-ticon='icon-disc')
				//  Horizontal menu content
				.navbar-container.main-menu-content(data-menu='menu-container')
					//  include ../../../includes/mixins
					ul.nav.navbar-nav#main-menu-navigation(data-menu='menu-navigation')
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='index.html', data-toggle='dropdown')
								i.feather.icon-home
								span(data-i18n='Dashboard') Dashboard
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='dashboard-analytics.html', data-toggle='dropdown', data-i18n='Analytics')
										i.feather.icon-activity
										| Analytics
								li(data-menu)
									a.dropdown-item(href='dashboard-ecommerce.html', data-toggle='dropdown', data-i18n='eCommerce')
										i.feather.icon-shopping-cart
										| eCommerce
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-package
								span(data-i18n='Apps') Apps
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='app-email.html', data-toggle='dropdown', data-i18n='Email')
										i.feather.icon-mail
										| Email
								li(data-menu)
									a.dropdown-item(href='app-chat.html', data-toggle='dropdown', data-i18n='Chat')
										i.feather.icon-message-square
										| Chat
								li(data-menu)
									a.dropdown-item(href='app-todo.html', data-toggle='dropdown', data-i18n='Todo')
										i.feather.icon-check-square
										| Todo
								li(data-menu)
									a.dropdown-item(href='app-calender.html', data-toggle='dropdown', data-i18n='Calender')
										i.feather.icon-calendar
										| Calender
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Ecommerce')
										i.feather.icon-shopping-cart
										| Ecommerce
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-shop.html', data-toggle='dropdown', data-i18n='Shop')
												i.feather.icon-circle
												| Shop
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-details.html', data-toggle='dropdown', data-i18n='Details')
												i.feather.icon-circle
												| Details
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-wishlist.html', data-toggle='dropdown', data-i18n='Wish List')
												i.feather.icon-circle
												| Wish List
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-checkout.html', data-toggle='dropdown', data-i18n='Checkout')
												i.feather.icon-circle
												| Checkout
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='User')
										i.feather.icon-user
										| User
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='app-user-list.html', data-toggle='dropdown', data-i18n='List')
												i.feather.icon-circle
												| List
										li.active(data-menu)
											a.dropdown-item(href='app-user-view.html', data-toggle='dropdown', data-i18n='View')
												i.feather.icon-circle
												| View
										li(data-menu)
											a.dropdown-item(href='app-user-edit.html', data-toggle='dropdown', data-i18n='Edit')
												i.feather.icon-circle
												| Edit
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-layers
								span(data-i18n='UI Elements') UI Elements
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Data List')
										i.feather.icon-list
										| Data List
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='data-list-view.html', data-toggle='dropdown', data-i18n='List View')
												i.feather.icon-circle
												| List View
										li(data-menu)
											a.dropdown-item(href='data-thumb-view.html', data-toggle='dropdown', data-i18n='Thumb View')
												i.feather.icon-circle
												| Thumb View
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Content')
										i.feather.icon-layout
										| Content
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='content-grid.html', data-toggle='dropdown', data-i18n='Grid')
												i.feather.icon-circle
												| Grid
										li(data-menu)
											a.dropdown-item(href='content-typography.html', data-toggle='dropdown', data-i18n='Typography')
												i.feather.icon-circle
												| Typography
										li(data-menu)
											a.dropdown-item(href='content-text-utilities.html', data-toggle='dropdown', data-i18n='Text Utilities')
												i.feather.icon-circle
												| Text Utilities
										li(data-menu)
											a.dropdown-item(href='content-syntax-highlighter.html', data-toggle='dropdown', data-i18n='Syntax Highlighter')
												i.feather.icon-circle
												| Syntax Highlighter
										li(data-menu)
											a.dropdown-item(href='content-helper-classes.html', data-toggle='dropdown', data-i18n='Helper Classes')
												i.feather.icon-circle
												| Helper Classes
								li(data-menu)
									a.dropdown-item(href='colors.html', data-toggle='dropdown', data-i18n='Colors')
										i.feather.icon-droplet
										| Colors
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Cards')
										i.feather.icon-credit-card
										| Cards
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='card-basic.html', data-toggle='dropdown', data-i18n='Basic')
												i.feather.icon-circle
												| Basic
										li(data-menu)
											a.dropdown-item(href='card-advance.html', data-toggle='dropdown', data-i18n='Advance')
												i.feather.icon-circle
												| Advance
										li(data-menu)
											a.dropdown-item(href='card-statistics.html', data-toggle='dropdown', data-i18n='Statistics')
												i.feather.icon-circle
												| Statistics
										li(data-menu)
											a.dropdown-item(href='card-analytics.html', data-toggle='dropdown', data-i18n='Analytics')
												i.feather.icon-circle
												| Analytics
										li(data-menu)
											a.dropdown-item(href='card-actions.html', data-toggle='dropdown', data-i18n='Card Actions')
												i.feather.icon-circle
												| Card Actions
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Icons')
										i.feather.icon-eye
										| Icons
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='icons-feather.html', data-toggle='dropdown', data-i18n='Feather')
												i.feather.icon-circle
												| Feather
										li(data-menu)
											a.dropdown-item(href='icons-font-awesome.html', data-toggle='dropdown', data-i18n='Font Awesome')
												i.feather.icon-circle
												| Font Awesome
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Components')
										i.feather.icon-briefcase
										| Components
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='component-alerts.html', data-toggle='dropdown', data-i18n='Alerts')
												i.feather.icon-circle
												| Alerts
										li(data-menu)
											a.dropdown-item(href='component-buttons-basic.html', data-toggle='dropdown', data-i18n='Buttons')
												i.feather.icon-circle
												| Buttons
										li(data-menu)
											a.dropdown-item(href='component-breadcrumbs.html', data-toggle='dropdown', data-i18n='Breadcrumbs')
												i.feather.icon-circle
												| Breadcrumbs
										li(data-menu)
											a.dropdown-item(href='component-carousel.html', data-toggle='dropdown', data-i18n='Carousel')
												i.feather.icon-circle
												| Carousel
										li(data-menu)
											a.dropdown-item(href='component-collapse.html', data-toggle='dropdown', data-i18n='Collapse')
												i.feather.icon-circle
												| Collapse
										li(data-menu)
											a.dropdown-item(href='component-dropdowns.html', data-toggle='dropdown', data-i18n='Dropdowns')
												i.feather.icon-circle
												| Dropdowns
										li(data-menu)
											a.dropdown-item(href='component-list-group.html', data-toggle='dropdown', data-i18n='List Group')
												i.feather.icon-circle
												| List Group
										li(data-menu)
											a.dropdown-item(href='component-modals.html', data-toggle='dropdown', data-i18n='Modals')
												i.feather.icon-circle
												| Modals
										li(data-menu)
											a.dropdown-item(href='component-pagination.html', data-toggle='dropdown', data-i18n='Pagination')
												i.feather.icon-circle
												| Pagination
										li(data-menu)
											a.dropdown-item(href='component-navs-component.html', data-toggle='dropdown', data-i18n='Navs Component')
												i.feather.icon-circle
												| Navs Component
										li(data-menu)
											a.dropdown-item(href='component-navbar.html', data-toggle='dropdown', data-i18n='Navbar')
												i.feather.icon-circle
												| Navbar
										li(data-menu)
											a.dropdown-item(href='component-tabs-component.html', data-toggle='dropdown', data-i18n='Tabs Component')
												i.feather.icon-circle
												| Tabs Component
										li(data-menu)
											a.dropdown-item(href='component-pills-component.html', data-toggle='dropdown', data-i18n='Pills Component')
												i.feather.icon-circle
												| Pills Component
										li(data-menu)
											a.dropdown-item(href='component-tooltips.html', data-toggle='dropdown', data-i18n='Tooltips')
												i.feather.icon-circle
												| Tooltips
										li(data-menu)
											a.dropdown-item(href='component-popovers.html', data-toggle='dropdown', data-i18n='Popovers')
												i.feather.icon-circle
												| Popovers
										li(data-menu)
											a.dropdown-item(href='component-badges.html', data-toggle='dropdown', data-i18n='Badges')
												i.feather.icon-circle
												| Badges
										li(data-menu)
											a.dropdown-item(href='component-pill-badges.html', data-toggle='dropdown', data-i18n='Pill Badges')
												i.feather.icon-circle
												| Pill Badges
										li(data-menu)
											a.dropdown-item(href='component-progress.html', data-toggle='dropdown', data-i18n='Progress')
												i.feather.icon-circle
												| Progress
										li(data-menu)
											a.dropdown-item(href='component-media-objects.html', data-toggle='dropdown', data-i18n)
												i.feather.icon-circle
												| Media Objects
										li(data-menu)
											a.dropdown-item(href='component-spinner.html', data-toggle='dropdown', data-i18n='Spinner')
												i.feather.icon-circle
												| Spinner
										li(data-menu)
											a.dropdown-item(href='component-bs-toast.html', data-toggle='dropdown', data-i18n='Toasts')
												i.feather.icon-circle
												| Toasts
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Extra Components')
										i.feather.icon-box
										| Extra Components
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='ex-component-avatar.html', data-toggle='dropdown', data-i18n='Avatar')
												i.feather.icon-circle
												| Avatar
										li(data-menu)
											a.dropdown-item(href='ex-component-chips.html', data-toggle='dropdown', data-i18n='Chips')
												i.feather.icon-circle
												| Chips
										li(data-menu)
											a.dropdown-item(href='ex-component-divider.html', data-toggle='dropdown', data-i18n='Divider')
												i.feather.icon-circle
												| Divider
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Extensions')
										i.feather.icon-box
										| Extensions
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='ext-component-sweet-alerts.html', data-toggle='dropdown', data-i18n='Sweet Alert')
												i.feather.icon-circle
												| Sweet Alert
										li(data-menu)
											a.dropdown-item(href='ext-component-toastr.html', data-toggle='dropdown', data-i18n='Toastr')
												i.feather.icon-circle
												| Toastr
										li(data-menu)
											a.dropdown-item(href='ext-component-noui-slider.html', data-toggle='dropdown', data-i18n='NoUi Slider')
												i.feather.icon-circle
												| NoUi Slider
										li(data-menu)
											a.dropdown-item(href='ext-component-file-uploader.html', data-toggle='dropdown', data-i18n='File Uploader')
												i.feather.icon-circle
												| File Uploader
										li(data-menu)
											a.dropdown-item(href='ext-component-quill-editor.html', data-toggle='dropdown', data-i18n='Quill Editor')
												i.feather.icon-circle
												| Quill Editor
										li(data-menu)
											a.dropdown-item(href='ext-component-drag-drop.html', data-toggle='dropdown', data-i18n='Drag & Drop')
												i.feather.icon-circle
												| Drag & Drop
										li(data-menu)
											a.dropdown-item(href='ext-component-tour.html', data-toggle='dropdown', data-i18n='Tour')
												i.feather.icon-circle
												| Tour
										li(data-menu)
											a.dropdown-item(href='ext-component-clipboard.html', data-toggle='dropdown', data-i18n='Clipboard')
												i.feather.icon-circle
												| Clipboard
										li(data-menu)
											a.dropdown-item(href='ext-component-plyr.html', data-toggle='dropdown', data-i18n='Media Player')
												i.feather.icon-circle
												| Media Player
										li(data-menu)
											a.dropdown-item(href='ext-component-context-menu.html', data-toggle='dropdown', data-i18n='Context Menu')
												i.feather.icon-circle
												| Context Menu
										li(data-menu)
											a.dropdown-item(href='ext-component-swiper.html', data-toggle='dropdown', data-i18n='swiper')
												i.feather.icon-smartphone
												| swiper
										li(data-menu)
											a.dropdown-item(href='ext-component-i18n.html', data-toggle='dropdown', data-i18n='l18n')
												i.feather.icon-circle
												| l18n
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-edit-2
								span(data-i18n='Forms & Tables') Forms & Tables
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Form Elements')
										i.feather.icon-copy
										| Form Elements
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='form-select.html', data-toggle='dropdown', data-i18n='Select')
												i.feather.icon-circle
												| Select
										li(data-menu)
											a.dropdown-item(href='form-switch.html', data-toggle='dropdown', data-i18n='Switch')
												i.feather.icon-circle
												| Switch
										li(data-menu)
											a.dropdown-item(href='form-checkbox.html', data-toggle='dropdown', data-i18n='Checkbox')
												i.feather.icon-circle
												| Checkbox
										li(data-menu)
											a.dropdown-item(href='form-radio.html', data-toggle='dropdown', data-i18n='Radio')
												i.feather.icon-circle
												| Radio
										li(data-menu)
											a.dropdown-item(href='form-inputs.html', data-toggle='dropdown', data-i18n='Input')
												i.feather.icon-circle
												| Input
										li(data-menu)
											a.dropdown-item(href='form-input-groups.html', data-toggle='dropdown', data-i18n='Input Groups')
												i.feather.icon-circle
												| Input Groups
										li(data-menu)
											a.dropdown-item(href='form-number-input.html', data-toggle='dropdown', data-i18n='Number Input')
												i.feather.icon-circle
												| Number Input
										li(data-menu)
											a.dropdown-item(href='form-textarea.html', data-toggle='dropdown', data-i18n='Textarea')
												i.feather.icon-circle
												| Textarea
										li(data-menu)
											a.dropdown-item(href='form-date-time-picker.html', data-toggle='dropdown', data-i18n='Date & Time Picker')
												i.feather.icon-circle
												| Date & Time Picker
								li(data-menu)
									a.dropdown-item(href='form-layout.html', data-toggle='dropdown', data-i18n='Form Layout')
										i.feather.icon-box
										| Form Layout
								li(data-menu)
									a.dropdown-item(href='form-wizard.html', data-toggle='dropdown', data-i18n='Form Wizard')
										i.feather.icon-package
										| Form Wizard
								li(data-menu)
									a.dropdown-item(href='form-validation.html', data-toggle='dropdown', data-i18n='Form Validation')
										i.feather.icon-check-circle
										| Form Validation
								li(data-menu)
									a.dropdown-item(href='table.html', data-toggle='dropdown', data-i18n='Table')
										i.feather.icon-server
										| Table
								li(data-menu)
									a.dropdown-item(href='table-datatable.html', data-toggle='dropdown', data-i18n='Datatable')
										i.feather.icon-grid
										| Datatable
								li(data-menu)
									a.dropdown-item(href='table-ag-grid.html', data-toggle='dropdown', data-i18n='agGrid Table')
										i.feather.icon-grid
										| agGrid Table
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-file
								span(data-i18n='Pages') Pages
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='page-user-profile.html', data-toggle='dropdown', data-i18n='Profile')
										i.feather.icon-user
										| Profile
								li(data-menu)
									a.dropdown-item(href='page-account-settings.html', data-toggle='dropdown', data-i18n='Account Settings')
										i.feather.icon-settings
										| Account Settings
								li(data-menu)
									a.dropdown-item(href='page-faq.html', data-toggle='dropdown', data-i18n='FAQ')
										i.feather.icon-help-circle
										| FAQ
								li(data-menu)
									a.dropdown-item(href='page-knowledge-base.html', data-toggle='dropdown', data-i18n='Knowledge Base')
										i.feather.icon-info
										| Knowledge Base
								li(data-menu)
									a.dropdown-item(href='page-search.html', data-toggle='dropdown', data-i18n='Search')
										i.feather.icon-search
										| Search
								li(data-menu)
									a.dropdown-item(href='page-invoice.html', data-toggle='dropdown', data-i18n='Invoice')
										i.feather.icon-file
										| Invoice
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Authentication')
										i.feather.icon-unlock
										| Authentication
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='auth-login.html', data-toggle='dropdown', data-i18n='Login')
												i.feather.icon-circle
												| Login
										li(data-menu)
											a.dropdown-item(href='auth-register.html', data-toggle='dropdown', data-i18n='Register')
												i.feather.icon-circle
												| Register
										li(data-menu)
											a.dropdown-item(href='auth-forgot-password.html', data-toggle='dropdown', data-i18n='Forgot Password')
												i.feather.icon-circle
												| Forgot Password
										li(data-menu)
											a.dropdown-item(href='auth-reset-password.html', data-toggle='dropdown', data-i18n='Reset Password')
												i.feather.icon-circle
												| Reset Password
										li(data-menu)
											a.dropdown-item(href='auth-lock-screen.html', data-toggle='dropdown', data-i18n='Lock Screen')
												i.feather.icon-circle
												| Lock Screen
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Miscellaneous')
										i.feather.icon-file-text
										| Miscellaneous
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='page-coming-soon.html', data-toggle='dropdown', data-i18n='Coming Soon')
												i.feather.icon-circle
												| Coming Soon
										li(data-menu)
											a.dropdown-item(href='error-404.html', data-toggle='dropdown', data-i18n='404')
												i.feather.icon-circle
												| Error 404
										li(data-menu)
											a.dropdown-item(href='error-500.html', data-toggle='dropdown', data-i18n='500')
												i.feather.icon-circle
												| Error 500
										li(data-menu)
											a.dropdown-item(href='page-not-authorized.html', data-toggle='dropdown', data-i18n='Not Authorized')
												i.feather.icon-circle
												| Not Authorized
										li(data-menu)
											a.dropdown-item(href='page-maintenance.html', data-toggle='dropdown', data-i18n='Maintenance')
												i.feather.icon-circle
												| Maintenance
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-bar-chart-2
								span(data-i18n='Charts & Maps') Charts & Maps
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Charts')
										i.feather.icon-pie-chart
										| Charts
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='chart-apex.html', data-toggle='dropdown', data-i18n='Apex')
												i.feather.icon-circle
												| Apex
										li(data-menu)
											a.dropdown-item(href='chart-chartjs.html', data-toggle='dropdown', data-i18n='Chartjs')
												i.feather.icon-circle
												| Chartjs
										li(data-menu)
											a.dropdown-item(href='chart-echarts.html', data-toggle='dropdown', data-i18n='Echarts')
												i.feather.icon-circle
												| Echarts
								li(data-menu)
									a.dropdown-item(href='maps-google.html', data-toggle='dropdown', data-i18n='Google Maps')
										i.feather.icon-map
										| Google Maps
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-more-horizontal
								span(data-i18n='Others') Others
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Menu Levels')
										i.feather.icon-menu
										| Menu Levels
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Second Level')
												i.feather.icon-circle
												| Second Level
										li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
											a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Second Level')
												i.feather.icon-circle
												| Second Level
											ul.dropdown-menu
												li(data-menu)
													a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Third Level')
														i.feather.icon-circle
														| Third Level
												li(data-menu)
													a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Third Level')
														i.feather.icon-circle
														| Third Level
								li.disabled(data-menu)
									a.dropdown-item(href, data-toggle='dropdown', data-i18n='Disabled Menu')
										i.feather.icon-eye-off
										| Disabled Menu
								li(data-menu)
									a.dropdown-item(href='https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation', data-toggle='dropdown', data-i18n='Documentation')
										i.feather.icon-folder
										| Documentation
								li(data-menu)
									a.dropdown-item(href='https://pixinvent.ticksy.com/', data-toggle='dropdown', data-i18n='Raise Support')
										i.feather.icon-life-buoy
										| Raise Support
		//  END: Main Menu
		//  BEGIN: Content
		.app-content.content
			.content-overlay
			.header-navbar-shadow
			.content-wrapper
				.content-header.row.
					
					
				.content-body
					//  page users view start 
					section.page-users-view
						.row
							//  account start 
							.col-12
								.card
									.card-header
										.card-title Account
									.card-body
										.row
											.users-view-image
												img.users-avatar-shadow.w-100.rounded.mb-2.pr-2.ml-1(src='../../../app-assets/images/portrait/small/avatar-s-12.jpg', alt='avatar')
											.col-12.col-sm-9.col-md-6.col-lg-5
												table
													tbody
														tr
															td.font-weight-bold Username
															td adoptionism744
														tr
															td.font-weight-bold Name
															td Angelo Sashington
														tr
															td.font-weight-bold Email
															td angelo@sashington.com
											.col-12.col-md-12.col-lg-5
												table.ml-0.ml-sm-0.ml-lg-0
													tbody
														tr
															td.font-weight-bold Status
															td active
														tr
															td.font-weight-bold Role
															td admin
														tr
															td.font-weight-bold Company
															td WinDon Technologies Pvt Ltd
											.col-12
												a.btn.btn-primary.mr-1(href='app-user-edit.html')
													i.feather.icon-edit-1
													|  Edit
												button.btn.btn-outline-danger
													i.feather.icon-trash-2
													|  Delete
							//  account end 
							//  information start 
							.col-md-6.col-12
								.card
									.card-header
										.card-title.mb-2 Information
									.card-body
										table
											tbody
												tr
													td.font-weight-bold Birth Date
													td.
														28 January 1998
														
												tr
													td.font-weight-bold Mobile
													td +65958951757
												tr
													td.font-weight-bold Website
													td.
														https://rowboat.com/insititious/Angelo
														
												tr
													td.font-weight-bold Languages
													td.
														English, Arabic
														
												tr
													td.font-weight-bold Gender
													td female
												tr
													td.font-weight-bold Contact
													td.
														email, message, phone
														
							//  information start 
							//  social links end 
							.col-md-6.col-12
								.card
									.card-header
										.card-title.mb-2 Social Links
									.card-body
										table
											tbody
												tr
													td.font-weight-bold Twitter
													td.
														https://twitter.com/adoptionism744
														
												tr
													td.font-weight-bold Facebook
													td.
														https://www.facebook.com/adoptionism664
														
												tr
													td.font-weight-bold Instagram
													td.
														https://www.instagram.com/adopt-ionism744/
														
												tr
													td.font-weight-bold Github
													td.
														https://github.com/madop818
														
												tr
													td.font-weight-bold CodePen
													td.
														https://codepen.io/adoptism243
														
												tr
													td.font-weight-bold Slack
													td.
														@adoptionism744
														
							//  social links end 
							//  permissions start 
							.col-12
								.card
									.card-header.border-bottom.mx-2.px-0
										h6.border-bottom.py-1.mb-0.font-medium-2
											i.feather.icon-lock.mr-50
											| Permission

									.card-body.px-75
										.table-responsive.users-view-permission
											table.table.table-borderless
												thead
													tr
														th Module
														th Read
														th Write
														th Create
														th Delete
												tbody
													tr
														td Users
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox1.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox1')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox2.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox2')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox3.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox3')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox4.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox4')
													tr
														td Articles
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox5.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox5')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox6.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox6')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox7.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox7')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox8.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox8')
													tr
														td Staff
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox9.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox9')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox10.custom-control-input(type='checkbox', disabled, checked)
																label.custom-control-label(for='users-checkbox10')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox11.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox11')
														td
															.custom-control.custom-checkbox.ml-50
																input#users-checkbox12.custom-control-input(type='checkbox', disabled)
																label.custom-control-label(for='users-checkbox12')
							//  permissions end 
					//  page users view end 
		//  END: Content
		.sidenav-overlay
		.drag-target
		//  BEGIN: Footer
		footer.footer.footer-static.footer-dark.navbar-shadow
			p.clearfix.blue-grey.lighten-2.mb-0
				span.float-md-left.d-block.d-md-inline-block.mt-25
					| COPYRIGHT © 2020
					a.text-bold-800.grey.darken-2(href='https://1.envato.market/pixinvent_portfolio', target='_blank') Pixinvent,
					| All rights Reserved
				span.float-md-right.d-none.d-md-block
					| Hand-crafted & Made with
					i.feather.icon-heart.pink
				button.btn.btn-primary.btn-icon.scroll-top(type='button')
					i.feather.icon-arrow-up
		//  END: Footer
		//  BEGIN: Vendor JS
		script(src='../../../app-assets/vendors/js/vendors.min.js')
		//  BEGIN Vendor JS
		//  BEGIN: Page Vendor JS
		script(src='../../../app-assets/vendors/js/ui/jquery.sticky.js')
		//  END: Page Vendor JS
		//  BEGIN: Theme JS
		script(src='../../../app-assets/js/core/app-menu.js')
		script(src='../../../app-assets/js/core/app.js')
		script(src='../../../app-assets/js/scripts/components.js')
		//  END: Theme JS
		//  BEGIN: Page JS
		script(src='../../../app-assets/js/scripts/pages/app-user.js')
		//  END: Page JS
	//  END: Body