doctype html
html.loading(lang='en', data-textdirection='rtl')
	//  BEGIN: Head
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
		meta(name='description', content='Vuexy admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
		meta(name='keywords', content='admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app')
		meta(name='author', content='PIXINVENT')
		title Text Utilities - Vuexy - Bootstrap HTML admin template
		link(rel='apple-touch-icon', href='../../../app-assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='../../../app-assets/images/ico/favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600', rel='stylesheet')
		//  BEGIN: Vendor CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/vendors-rtl.min.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/ui/prism.min.css')
		//  END: Vendor CSS
		//  BEGIN: Theme CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/bootstrap-extended.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/colors.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/components.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/themes/dark-layout.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/themes/semi-dark-layout.css')
		//  BEGIN: Page CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/core/menu/menu-types/horizontal-menu.css')
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/core/colors/palette-gradient.css')
		//  END: Page CSS
		//  BEGIN: Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../app-assets/css-rtl/custom-rtl.css')
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style-rtl.css')
		//  END: Custom CSS
	//  END: Head
	//  BEGIN: Body
	body.horizontal-layout.horizontal-menu.2-columns.navbar-floating.footer-static(data-open='hover', data-menu='horizontal-menu', data-col='2-columns')
		//  BEGIN: Header
		nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.navbar-fixed.navbar-shadow.navbar-brand-center
			.navbar-header.d-xl-block.d-none
				ul.nav.navbar-nav.flex-row
					li.nav-item
						a.navbar-brand(href='../../../html/rtl/horizontal-menu-template/index.html')
							.brand-logo
			.navbar-wrapper
				.navbar-container.content
					.navbar-collapse#navbar-mobile
						.mr-auto.float-left.bookmark-wrapper.d-flex.align-items-center
							ul.nav.navbar-nav
								li.nav-item.mobile-menu.d-xl-none.mr-auto
									a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
										i.ficon.feather.icon-menu
							ul.nav.navbar-nav.bookmark-icons
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-todo.html', data-toggle='tooltip', data-placement='top', title='Todo')
										i.ficon.feather.icon-check-square
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-chat.html', data-toggle='tooltip', data-placement='top', title='Chat')
										i.ficon.feather.icon-message-square
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-email.html', data-toggle='tooltip', data-placement='top', title='Email')
										i.ficon.feather.icon-mail
								li.nav-item.d-none.d-lg-block
									a.nav-link(href='app-calender.html', data-toggle='tooltip', data-placement='top', title='Calendar')
										i.ficon.feather.icon-calendar
							ul.nav.navbar-nav
								li.nav-item.d-none.d-lg-block
									a.nav-link.bookmark-star
										i.ficon.feather.icon-star.warning
									.bookmark-input.search-input
										.bookmark-input-icon
											i.feather.icon-search.primary
										input.form-control.input(type='text', placeholder='Explore Vuexy...', tabindex='0', data-search='template-list')
										ul.search-list.search-list-bookmark
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-language.nav-item
								a.dropdown-toggle.nav-link#dropdown-flag(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-us
									span.selected-language English
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#', data-language='en')
										i.flag-icon.flag-icon-us
										|  English
									a.dropdown-item(href='#', data-language='fr')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#', data-language='de')
										i.flag-icon.flag-icon-de
										|  German
									a.dropdown-item(href='#', data-language='pt')
										i.flag-icon.flag-icon-pt
										|  Portuguese
							li.nav-item.d-none.d-lg-block
								a.nav-link.nav-link-expand
									i.ficon.feather.icon-maximize
							li.nav-item.nav-search
								a.nav-link.nav-link-search
									i.ficon.feather.icon-search
								.search-input
									.search-input-icon
										i.feather.icon-search.primary
									input.input(type='text', placeholder='Explore Vuexy...', tabindex='-1', data-search='template-list')
									.search-input-close
										i.feather.icon-x
									ul.search-list.search-list-main
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.feather.icon-bell
									span.badge.badge-pill.badge-primary.badge-up 5
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										.dropdown-header.m-0.p-2
											h3.white 5 New
											span.notification-title App Notifications
									li.scrollable-container.media-list
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-plus-square.font-medium-5.primary
												.media-body
													h6.primary.media-heading You have new order!
													small.notification-text Are your going to meet me tonight?
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') 9 hours ago
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-download-cloud.font-medium-5.success
												.media-body
													h6.success.media-heading.red.darken-1 99% Server load
													small.notification-text You got new order of goods.
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') 5 hour ago
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-alert-triangle.font-medium-5.danger
												.media-body
													h6.danger.media-heading.yellow.darken-3 Warning notifixation
													small.notification-text Server have 99% CPU usage.
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Today
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-check-circle.font-medium-5.info
												.media-body
													h6.info.media-heading Complete the task
													small.notification-text Cake sesame snaps cupcake
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Last week
										a.d-flex.justify-content-between(href='javascript:void(0)')
											.media.d-flex.align-items-start
												.media-left
													i.feather.icon-file.font-medium-5.warning
												.media-body
													h6.warning.media-heading Generate monthly report
													small.notification-text Chocolate cake oat cake tiramisu marzipan
												small
													time.media-meta(datetime='2015-06-11T18:29:20+08:00') Last month
									li.dropdown-menu-footer
										a.dropdown-item.p-1.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									.user-nav.d-sm-flex.d-none
										span.user-name.text-bold-600 John Doe
										span.user-status Available
									span
										img.round(src='../../../app-assets/images/portrait/small/avatar-s-11.jpg', alt='avatar', height='40', width='40')
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='page-user-profile.html')
										i.feather.icon-user
										|  Edit Profile
									a.dropdown-item(href='app-email.html')
										i.feather.icon-mail
										|  My Inbox
									a.dropdown-item(href='app-todo.html')
										i.feather.icon-check-square
										|  Task
									a.dropdown-item(href='app-chat.html')
										i.feather.icon-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='auth-login.html')
										i.feather.icon-power
										|  Logout
		ul.main-search-list-defaultlist.d-none
			li.d-flex.align-items-center
				a.pb-25(href='#')
					h6.text-primary.mb-0 Files
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/xls.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Two new item submitted
							small.text-muted Marketing Manager
					small.search-data-size.mr-50.text-muted '17kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/jpg.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 52 JPG file Generated
							small.text-muted FontEnd Developer
					small.search-data-size.mr-50.text-muted '11kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/pdf.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 25 PDF File Uploaded
							small.text-muted Digital Marketing Manager
					small.search-data-size.mr-50.text-muted '150kb
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100(href='#')
					.d-flex
						.mr-50
							img(src='../../../app-assets/images/icons/doc.png', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Anna_Strong
							small.text-muted Web Designer
					small.search-data-size.mr-50.text-muted '256kb
			li.d-flex.align-items-center
				a.pb-25(href='#')
					h6.text-primary.mb-0 Members
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-8.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 John Doe
							small.text-muted UI designer
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-1.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Michal Clark
							small.text-muted FontEnd Developer
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-14.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Milena Gibson
							small.text-muted Digital Marketing Manager
			li.auto-suggestion.d-flex.align-items-center.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.py-50.w-100(href='#')
					.d-flex.align-items-center
						.avatar.mr-50
							img(src='../../../app-assets/images/portrait/small/avatar-s-6.jpg', alt='png', height='32')
						.search-data
							p.search-data-title.mb-0 Anna Strong
							small.text-muted Web Designer
		ul.main-search-list-defaultlist-other-list.d-none
			li.auto-suggestion.d-flex.align-items-center.justify-content-between.cursor-pointer
				a.d-flex.align-items-center.justify-content-between.w-100.py-50
					.d-flex.justify-content-start
						span.mr-75.feather.icon-alert-circle
						span No results found.
		//  END: Header
		//  BEGIN: Main Menu
		.horizontal-menu-wrapper
			.header-navbar.navbar-expand-sm.navbar.navbar-horizontal.floating-nav.navbar-light.navbar-without-dd-arrow.navbar-shadow.menu-border(role='navigation', data-menu='menu-wrapper')
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mr-auto
							a.navbar-brand(href='../../../html/rtl/horizontal-menu-template/index.html')
								.brand-logo
								h2.brand-text.mb-0 Vuexy
						li.nav-item.nav-toggle
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.feather.icon-x.d-block.d-xl-none.font-medium-4.primary.toggle-icon
								i.toggle-icon.feather.icon-disc.font-medium-4.d-none.d-xl-block.collapse-toggle-icon.primary(data-ticon='icon-disc')
				//  Horizontal menu content
				.navbar-container.main-menu-content(data-menu='menu-container')
					//  include ../../../includes/mixins
					ul.nav.navbar-nav#main-menu-navigation(data-menu='menu-navigation')
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='index.html', data-toggle='dropdown')
								i.feather.icon-home
								span(data-i18n='Dashboard') Dashboard
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='dashboard-analytics.html', data-toggle='dropdown', data-i18n='Analytics')
										i.feather.icon-activity
										| Analytics
								li(data-menu)
									a.dropdown-item(href='dashboard-ecommerce.html', data-toggle='dropdown', data-i18n='eCommerce')
										i.feather.icon-shopping-cart
										| eCommerce
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-package
								span(data-i18n='Apps') Apps
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='app-email.html', data-toggle='dropdown', data-i18n='Email')
										i.feather.icon-mail
										| Email
								li(data-menu)
									a.dropdown-item(href='app-chat.html', data-toggle='dropdown', data-i18n='Chat')
										i.feather.icon-message-square
										| Chat
								li(data-menu)
									a.dropdown-item(href='app-todo.html', data-toggle='dropdown', data-i18n='Todo')
										i.feather.icon-check-square
										| Todo
								li(data-menu)
									a.dropdown-item(href='app-calender.html', data-toggle='dropdown', data-i18n='Calender')
										i.feather.icon-calendar
										| Calender
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Ecommerce')
										i.feather.icon-shopping-cart
										| Ecommerce
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-shop.html', data-toggle='dropdown', data-i18n='Shop')
												i.feather.icon-circle
												| Shop
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-details.html', data-toggle='dropdown', data-i18n='Details')
												i.feather.icon-circle
												| Details
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-wishlist.html', data-toggle='dropdown', data-i18n='Wish List')
												i.feather.icon-circle
												| Wish List
										li(data-menu)
											a.dropdown-item(href='app-ecommerce-checkout.html', data-toggle='dropdown', data-i18n='Checkout')
												i.feather.icon-circle
												| Checkout
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='User')
										i.feather.icon-user
										| User
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='app-user-list.html', data-toggle='dropdown', data-i18n='List')
												i.feather.icon-circle
												| List
										li(data-menu)
											a.dropdown-item(href='app-user-view.html', data-toggle='dropdown', data-i18n='View')
												i.feather.icon-circle
												| View
										li(data-menu)
											a.dropdown-item(href='app-user-edit.html', data-toggle='dropdown', data-i18n='Edit')
												i.feather.icon-circle
												| Edit
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-layers
								span(data-i18n='UI Elements') UI Elements
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Data List')
										i.feather.icon-list
										| Data List
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='data-list-view.html', data-toggle='dropdown', data-i18n='List View')
												i.feather.icon-circle
												| List View
										li(data-menu)
											a.dropdown-item(href='data-thumb-view.html', data-toggle='dropdown', data-i18n='Thumb View')
												i.feather.icon-circle
												| Thumb View
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Content')
										i.feather.icon-layout
										| Content
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='content-grid.html', data-toggle='dropdown', data-i18n='Grid')
												i.feather.icon-circle
												| Grid
										li(data-menu)
											a.dropdown-item(href='content-typography.html', data-toggle='dropdown', data-i18n='Typography')
												i.feather.icon-circle
												| Typography
										li.active(data-menu)
											a.dropdown-item(href='content-text-utilities.html', data-toggle='dropdown', data-i18n='Text Utilities')
												i.feather.icon-circle
												| Text Utilities
										li(data-menu)
											a.dropdown-item(href='content-syntax-highlighter.html', data-toggle='dropdown', data-i18n='Syntax Highlighter')
												i.feather.icon-circle
												| Syntax Highlighter
										li(data-menu)
											a.dropdown-item(href='content-helper-classes.html', data-toggle='dropdown', data-i18n='Helper Classes')
												i.feather.icon-circle
												| Helper Classes
								li(data-menu)
									a.dropdown-item(href='colors.html', data-toggle='dropdown', data-i18n='Colors')
										i.feather.icon-droplet
										| Colors
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Cards')
										i.feather.icon-credit-card
										| Cards
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='card-basic.html', data-toggle='dropdown', data-i18n='Basic')
												i.feather.icon-circle
												| Basic
										li(data-menu)
											a.dropdown-item(href='card-advance.html', data-toggle='dropdown', data-i18n='Advance')
												i.feather.icon-circle
												| Advance
										li(data-menu)
											a.dropdown-item(href='card-statistics.html', data-toggle='dropdown', data-i18n='Statistics')
												i.feather.icon-circle
												| Statistics
										li(data-menu)
											a.dropdown-item(href='card-analytics.html', data-toggle='dropdown', data-i18n='Analytics')
												i.feather.icon-circle
												| Analytics
										li(data-menu)
											a.dropdown-item(href='card-actions.html', data-toggle='dropdown', data-i18n='Card Actions')
												i.feather.icon-circle
												| Card Actions
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Icons')
										i.feather.icon-eye
										| Icons
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='icons-feather.html', data-toggle='dropdown', data-i18n='Feather')
												i.feather.icon-circle
												| Feather
										li(data-menu)
											a.dropdown-item(href='icons-font-awesome.html', data-toggle='dropdown', data-i18n='Font Awesome')
												i.feather.icon-circle
												| Font Awesome
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Components')
										i.feather.icon-briefcase
										| Components
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='component-alerts.html', data-toggle='dropdown', data-i18n='Alerts')
												i.feather.icon-circle
												| Alerts
										li(data-menu)
											a.dropdown-item(href='component-buttons-basic.html', data-toggle='dropdown', data-i18n='Buttons')
												i.feather.icon-circle
												| Buttons
										li(data-menu)
											a.dropdown-item(href='component-breadcrumbs.html', data-toggle='dropdown', data-i18n='Breadcrumbs')
												i.feather.icon-circle
												| Breadcrumbs
										li(data-menu)
											a.dropdown-item(href='component-carousel.html', data-toggle='dropdown', data-i18n='Carousel')
												i.feather.icon-circle
												| Carousel
										li(data-menu)
											a.dropdown-item(href='component-collapse.html', data-toggle='dropdown', data-i18n='Collapse')
												i.feather.icon-circle
												| Collapse
										li(data-menu)
											a.dropdown-item(href='component-dropdowns.html', data-toggle='dropdown', data-i18n='Dropdowns')
												i.feather.icon-circle
												| Dropdowns
										li(data-menu)
											a.dropdown-item(href='component-list-group.html', data-toggle='dropdown', data-i18n='List Group')
												i.feather.icon-circle
												| List Group
										li(data-menu)
											a.dropdown-item(href='component-modals.html', data-toggle='dropdown', data-i18n='Modals')
												i.feather.icon-circle
												| Modals
										li(data-menu)
											a.dropdown-item(href='component-pagination.html', data-toggle='dropdown', data-i18n='Pagination')
												i.feather.icon-circle
												| Pagination
										li(data-menu)
											a.dropdown-item(href='component-navs-component.html', data-toggle='dropdown', data-i18n='Navs Component')
												i.feather.icon-circle
												| Navs Component
										li(data-menu)
											a.dropdown-item(href='component-navbar.html', data-toggle='dropdown', data-i18n='Navbar')
												i.feather.icon-circle
												| Navbar
										li(data-menu)
											a.dropdown-item(href='component-tabs-component.html', data-toggle='dropdown', data-i18n='Tabs Component')
												i.feather.icon-circle
												| Tabs Component
										li(data-menu)
											a.dropdown-item(href='component-pills-component.html', data-toggle='dropdown', data-i18n='Pills Component')
												i.feather.icon-circle
												| Pills Component
										li(data-menu)
											a.dropdown-item(href='component-tooltips.html', data-toggle='dropdown', data-i18n='Tooltips')
												i.feather.icon-circle
												| Tooltips
										li(data-menu)
											a.dropdown-item(href='component-popovers.html', data-toggle='dropdown', data-i18n='Popovers')
												i.feather.icon-circle
												| Popovers
										li(data-menu)
											a.dropdown-item(href='component-badges.html', data-toggle='dropdown', data-i18n='Badges')
												i.feather.icon-circle
												| Badges
										li(data-menu)
											a.dropdown-item(href='component-pill-badges.html', data-toggle='dropdown', data-i18n='Pill Badges')
												i.feather.icon-circle
												| Pill Badges
										li(data-menu)
											a.dropdown-item(href='component-progress.html', data-toggle='dropdown', data-i18n='Progress')
												i.feather.icon-circle
												| Progress
										li(data-menu)
											a.dropdown-item(href='component-media-objects.html', data-toggle='dropdown', data-i18n)
												i.feather.icon-circle
												| Media Objects
										li(data-menu)
											a.dropdown-item(href='component-spinner.html', data-toggle='dropdown', data-i18n='Spinner')
												i.feather.icon-circle
												| Spinner
										li(data-menu)
											a.dropdown-item(href='component-bs-toast.html', data-toggle='dropdown', data-i18n='Toasts')
												i.feather.icon-circle
												| Toasts
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Extra Components')
										i.feather.icon-box
										| Extra Components
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='ex-component-avatar.html', data-toggle='dropdown', data-i18n='Avatar')
												i.feather.icon-circle
												| Avatar
										li(data-menu)
											a.dropdown-item(href='ex-component-chips.html', data-toggle='dropdown', data-i18n='Chips')
												i.feather.icon-circle
												| Chips
										li(data-menu)
											a.dropdown-item(href='ex-component-divider.html', data-toggle='dropdown', data-i18n='Divider')
												i.feather.icon-circle
												| Divider
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Extensions')
										i.feather.icon-box
										| Extensions
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='ext-component-sweet-alerts.html', data-toggle='dropdown', data-i18n='Sweet Alert')
												i.feather.icon-circle
												| Sweet Alert
										li(data-menu)
											a.dropdown-item(href='ext-component-toastr.html', data-toggle='dropdown', data-i18n='Toastr')
												i.feather.icon-circle
												| Toastr
										li(data-menu)
											a.dropdown-item(href='ext-component-noui-slider.html', data-toggle='dropdown', data-i18n='NoUi Slider')
												i.feather.icon-circle
												| NoUi Slider
										li(data-menu)
											a.dropdown-item(href='ext-component-file-uploader.html', data-toggle='dropdown', data-i18n='File Uploader')
												i.feather.icon-circle
												| File Uploader
										li(data-menu)
											a.dropdown-item(href='ext-component-quill-editor.html', data-toggle='dropdown', data-i18n='Quill Editor')
												i.feather.icon-circle
												| Quill Editor
										li(data-menu)
											a.dropdown-item(href='ext-component-drag-drop.html', data-toggle='dropdown', data-i18n='Drag & Drop')
												i.feather.icon-circle
												| Drag & Drop
										li(data-menu)
											a.dropdown-item(href='ext-component-tour.html', data-toggle='dropdown', data-i18n='Tour')
												i.feather.icon-circle
												| Tour
										li(data-menu)
											a.dropdown-item(href='ext-component-clipboard.html', data-toggle='dropdown', data-i18n='Clipboard')
												i.feather.icon-circle
												| Clipboard
										li(data-menu)
											a.dropdown-item(href='ext-component-plyr.html', data-toggle='dropdown', data-i18n='Media Player')
												i.feather.icon-circle
												| Media Player
										li(data-menu)
											a.dropdown-item(href='ext-component-context-menu.html', data-toggle='dropdown', data-i18n='Context Menu')
												i.feather.icon-circle
												| Context Menu
										li(data-menu)
											a.dropdown-item(href='ext-component-swiper.html', data-toggle='dropdown', data-i18n='swiper')
												i.feather.icon-smartphone
												| swiper
										li(data-menu)
											a.dropdown-item(href='ext-component-i18n.html', data-toggle='dropdown', data-i18n='l18n')
												i.feather.icon-circle
												| l18n
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-edit-2
								span(data-i18n='Forms & Tables') Forms & Tables
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Form Elements')
										i.feather.icon-copy
										| Form Elements
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='form-select.html', data-toggle='dropdown', data-i18n='Select')
												i.feather.icon-circle
												| Select
										li(data-menu)
											a.dropdown-item(href='form-switch.html', data-toggle='dropdown', data-i18n='Switch')
												i.feather.icon-circle
												| Switch
										li(data-menu)
											a.dropdown-item(href='form-checkbox.html', data-toggle='dropdown', data-i18n='Checkbox')
												i.feather.icon-circle
												| Checkbox
										li(data-menu)
											a.dropdown-item(href='form-radio.html', data-toggle='dropdown', data-i18n='Radio')
												i.feather.icon-circle
												| Radio
										li(data-menu)
											a.dropdown-item(href='form-inputs.html', data-toggle='dropdown', data-i18n='Input')
												i.feather.icon-circle
												| Input
										li(data-menu)
											a.dropdown-item(href='form-input-groups.html', data-toggle='dropdown', data-i18n='Input Groups')
												i.feather.icon-circle
												| Input Groups
										li(data-menu)
											a.dropdown-item(href='form-number-input.html', data-toggle='dropdown', data-i18n='Number Input')
												i.feather.icon-circle
												| Number Input
										li(data-menu)
											a.dropdown-item(href='form-textarea.html', data-toggle='dropdown', data-i18n='Textarea')
												i.feather.icon-circle
												| Textarea
										li(data-menu)
											a.dropdown-item(href='form-date-time-picker.html', data-toggle='dropdown', data-i18n='Date & Time Picker')
												i.feather.icon-circle
												| Date & Time Picker
								li(data-menu)
									a.dropdown-item(href='form-layout.html', data-toggle='dropdown', data-i18n='Form Layout')
										i.feather.icon-box
										| Form Layout
								li(data-menu)
									a.dropdown-item(href='form-wizard.html', data-toggle='dropdown', data-i18n='Form Wizard')
										i.feather.icon-package
										| Form Wizard
								li(data-menu)
									a.dropdown-item(href='form-validation.html', data-toggle='dropdown', data-i18n='Form Validation')
										i.feather.icon-check-circle
										| Form Validation
								li(data-menu)
									a.dropdown-item(href='table.html', data-toggle='dropdown', data-i18n='Table')
										i.feather.icon-server
										| Table
								li(data-menu)
									a.dropdown-item(href='table-datatable.html', data-toggle='dropdown', data-i18n='Datatable')
										i.feather.icon-grid
										| Datatable
								li(data-menu)
									a.dropdown-item(href='table-ag-grid.html', data-toggle='dropdown', data-i18n='agGrid Table')
										i.feather.icon-grid
										| agGrid Table
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-file
								span(data-i18n='Pages') Pages
							ul.dropdown-menu
								li(data-menu)
									a.dropdown-item(href='page-user-profile.html', data-toggle='dropdown', data-i18n='Profile')
										i.feather.icon-user
										| Profile
								li(data-menu)
									a.dropdown-item(href='page-account-settings.html', data-toggle='dropdown', data-i18n='Account Settings')
										i.feather.icon-settings
										| Account Settings
								li(data-menu)
									a.dropdown-item(href='page-faq.html', data-toggle='dropdown', data-i18n='FAQ')
										i.feather.icon-help-circle
										| FAQ
								li(data-menu)
									a.dropdown-item(href='page-knowledge-base.html', data-toggle='dropdown', data-i18n='Knowledge Base')
										i.feather.icon-info
										| Knowledge Base
								li(data-menu)
									a.dropdown-item(href='page-search.html', data-toggle='dropdown', data-i18n='Search')
										i.feather.icon-search
										| Search
								li(data-menu)
									a.dropdown-item(href='page-invoice.html', data-toggle='dropdown', data-i18n='Invoice')
										i.feather.icon-file
										| Invoice
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Authentication')
										i.feather.icon-unlock
										| Authentication
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='auth-login.html', data-toggle='dropdown', data-i18n='Login')
												i.feather.icon-circle
												| Login
										li(data-menu)
											a.dropdown-item(href='auth-register.html', data-toggle='dropdown', data-i18n='Register')
												i.feather.icon-circle
												| Register
										li(data-menu)
											a.dropdown-item(href='auth-forgot-password.html', data-toggle='dropdown', data-i18n='Forgot Password')
												i.feather.icon-circle
												| Forgot Password
										li(data-menu)
											a.dropdown-item(href='auth-reset-password.html', data-toggle='dropdown', data-i18n='Reset Password')
												i.feather.icon-circle
												| Reset Password
										li(data-menu)
											a.dropdown-item(href='auth-lock-screen.html', data-toggle='dropdown', data-i18n='Lock Screen')
												i.feather.icon-circle
												| Lock Screen
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Miscellaneous')
										i.feather.icon-file-text
										| Miscellaneous
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='page-coming-soon.html', data-toggle='dropdown', data-i18n='Coming Soon')
												i.feather.icon-circle
												| Coming Soon
										li(data-menu)
											a.dropdown-item(href='error-404.html', data-toggle='dropdown', data-i18n='404')
												i.feather.icon-circle
												| Error 404
										li(data-menu)
											a.dropdown-item(href='error-500.html', data-toggle='dropdown', data-i18n='500')
												i.feather.icon-circle
												| Error 500
										li(data-menu)
											a.dropdown-item(href='page-not-authorized.html', data-toggle='dropdown', data-i18n='Not Authorized')
												i.feather.icon-circle
												| Not Authorized
										li(data-menu)
											a.dropdown-item(href='page-maintenance.html', data-toggle='dropdown', data-i18n='Maintenance')
												i.feather.icon-circle
												| Maintenance
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-bar-chart-2
								span(data-i18n='Charts & Maps') Charts & Maps
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Charts')
										i.feather.icon-pie-chart
										| Charts
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='chart-apex.html', data-toggle='dropdown', data-i18n='Apex')
												i.feather.icon-circle
												| Apex
										li(data-menu)
											a.dropdown-item(href='chart-chartjs.html', data-toggle='dropdown', data-i18n='Chartjs')
												i.feather.icon-circle
												| Chartjs
										li(data-menu)
											a.dropdown-item(href='chart-echarts.html', data-toggle='dropdown', data-i18n='Echarts')
												i.feather.icon-circle
												| Echarts
								li(data-menu)
									a.dropdown-item(href='maps-google.html', data-toggle='dropdown', data-i18n='Google Maps')
										i.feather.icon-map
										| Google Maps
						li.dropdown.nav-item(data-menu='dropdown')
							a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
								i.feather.icon-more-horizontal
								span(data-i18n='Others') Others
							ul.dropdown-menu
								li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
									a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Menu Levels')
										i.feather.icon-menu
										| Menu Levels
									ul.dropdown-menu
										li(data-menu)
											a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Second Level')
												i.feather.icon-circle
												| Second Level
										li.dropdown.dropdown-submenu(data-menu='dropdown-submenu')
											a.dropdown-item.dropdown-toggle(href='#', data-toggle='dropdown', data-i18n='Second Level')
												i.feather.icon-circle
												| Second Level
											ul.dropdown-menu
												li(data-menu)
													a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Third Level')
														i.feather.icon-circle
														| Third Level
												li(data-menu)
													a.dropdown-item(href='#', data-toggle='dropdown', data-i18n='Third Level')
														i.feather.icon-circle
														| Third Level
								li.disabled(data-menu)
									a.dropdown-item(href, data-toggle='dropdown', data-i18n='Disabled Menu')
										i.feather.icon-eye-off
										| Disabled Menu
								li(data-menu)
									a.dropdown-item(href='https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation', data-toggle='dropdown', data-i18n='Documentation')
										i.feather.icon-folder
										| Documentation
								li(data-menu)
									a.dropdown-item(href='https://pixinvent.ticksy.com/', data-toggle='dropdown', data-i18n='Raise Support')
										i.feather.icon-life-buoy
										| Raise Support
		//  END: Main Menu
		//  BEGIN: Content
		.app-content.content
			.content-overlay
			.header-navbar-shadow
			.content-wrapper
				.content-header.row
					.content-header-left.col-md-9.col-12.mb-2
						.row.breadcrumbs-top
							.col-12
								h2.content-header-title.float-left.mb-0 Text Utilities
								.breadcrumb-wrapper.col-12
									ol.breadcrumb
										li.breadcrumb-item
											a(href='index.html') Home
										li.breadcrumb-item
											a(href='#') Content
										li.breadcrumb-item.active.
											Text Utilities
											
					.content-header-right.text-md-right.col-md-3.col-12.d-md-block.d-none
						.form-group.breadcrum-right
							.dropdown
								button.btn-icon.btn.btn-primary.btn-round.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.feather.icon-settings
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='#') Chat
									a.dropdown-item(href='#') Email
									a.dropdown-item(href='#') Calendar
				.content-body
					//  Contextual colors 
					section#contextual-colors.card.overflow-hidden
						.card-header
							h4.card-title Contextual colors
						.card-content
							.card-body
								.card-text
									p Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.
							.table-responsive
								table.table.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
											td
												code .text-muted
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-muted">Your Text.</p>
													| 
                            
										tr
											td
												p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
											td
												code .text-primary
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-primary">Your Text.</p>
													| 
                            
										tr
											td
												p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
											td
												code .text-success
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-success">Your Text.</p>
													| 
                            
										tr
											td
												p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
											td
												code .text-info
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-info">Your Text.</p>
													| 
                            
										tr
											td
												p.text-warning Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
											td
												code .text-warning
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-warning">Your Text.</p>
													| 
                            
										tr
											td
												p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
											td
												code .text-danger
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-danger">Your Text.</p>
													| 
                            
							.card-body
								.card-text
									p You can also use text lighten, darken and accent classes.
									ul
										li
											code .{colorName} .lighten-*
											|  For lighten text color, this two classes needed. Here *: 1,2,3,4 for lighten color options.
										li
											code .{colorName} .darken-*
											|  For darken text color, this two classes needed. Here *: 1,2,3,4 for darken color options.
										li
											code .{colorName} .accent-*
											|  For accent text color, this two classes needed. Here *: 1,2,3,4 for accent color options.
					// / Contextual colors 
					//  Text alignment 
					section#text-alignment.card.overflow-hidden
						.card-header
							h4.card-title Text alignment
						.card-content
							.card-body
								.card-text
									p Easily realign text to components with text alignment classes.
							.table-responsive
								table.table.mb-0.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												p.text-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
											td
												code .text-justify
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-justify">Justified text.</p>
													| 
                            
										tr
											td
												p.text-nowrap It is a long established fact that a reader.
											td
												code .text-nowrap
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-nowrap">No wrap text.</p>
													| 
                            
							.card-body
								.card-text
									p For left, right, and center alignment, responsive classes are available that use the same viewport width breakpoints as the grid system.
							.table-responsive
								table.table.table-white-space.no-wrap.table-middle.mb-0.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												p.text-left Left aligned text on all viewport sizes.
											td
												code .text-left
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-left">Left aligned text on all viewport sizes.</p>
													| 
                            
										tr
											td
												p.text-center Center aligned text on all viewport sizes.
											td
												code .text-center
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-center">Center aligned text on all viewport sizes.</p>
													| 
                            
										tr
											td
												p.text-right Right aligned text on all viewport sizes.
											td
												code .text-right
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-right">Right aligned text on all viewport sizes.</p>
													| 
                            
										tr
											td
												p.text-sm-left Left aligned text on viewports sized SM or wider.
											td
												code .text-{sm/md/lg/xl}-left
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-{sm/md/lg/xl}-left">Left aligned text on viewports sized SM/MD/LG/XL or wider.</p>
													| 
                            
										tr
											td
												p.text-sm-center Center aligned text on viewports sized SM or wider.
											td
												code .text-{sm/md/lg/xl}-center
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-{sm/md/lg/xl}-center">Center aligned text on viewports sized SM/MD/LG/XL or wider.</p>
													| 
                            
										tr
											td
												p.text-sm-right Right aligned text on viewports sized SM or wider.
											td
												code .text-{sm/md/lg/xl}-right
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-{sm/md/lg/xl}-right">Right aligned text on viewports sized SM/MD/LG/XL or wider.</p>
													| 
                            
					// / Text alignment 
					//  Text transform 
					section#text-transform.card.overflow-hidden
						.card-header
							h4.card-title Text transform
						.card-content
							.card-body
								.card-text
									p Transform text in components with text capitalization classes.
									p
										| Note how 
										code.highlighter-rouge text-capitalize
										|  only changes the first letter of each word, leaving the case of any other letters unaffected.
							.table-responsive
								table.table.mb-0.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												p.text-lowercase Lowercased text.
											td
												code .text-lowercase
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-lowercase">Lowercased text.</p>
													| 
                            
										tr
											td
												p.text-uppercase Uppercased text.
											td
												code .text-uppercase
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-uppercase">Uppercased text.</p>
													| 
                            
										tr
											td
												p.text-capitalize CapiTaliZed text.
											td
												code .text-capitalize
											td
												pre.language-html
													|                               
													code.language-html.
														
														                                <p class="text-capitalize">CapiTaliZed text.</p>
													| 
                            
					// / Text transform 
					//  Text option 
					section#text-option.card.overflow-hidden
						.card-header
							h4.card-title Text option
						.card-content
							.card-body
								.card-text
									h5.mb-1 Font size
									p Vuexy Admin provide font large & small sizes variant classes to change font size.
							.table-responsive
								table.table.mb-0.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												span.font-large-3 Large lg text size.
											td
												code .font-large-3
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-large-3" >Large lg text size.</p>
													| 
                            
										tr
											td
												span.font-large-2 Large lg text size.
											td
												code .font-large-2
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-large-2" >Large lg text size.</p>
													| 
                            
										tr
											td
												span.font-large-1 Large lg text size.
											td
												code .font-large-1
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-large-1" >Large lg text size.</p>
													| 
                            
										tr
											td
												span.font-medium-3 Large md text size.
											td
												code .font-medium-3
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-medium-3" >Large md text size.</p>
													| 
                            
										tr
											td
												span.font-medium-2 Large md text size.
											td
												code .font-medium-2
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-medium-2" >Large md text size.</p>
													| 
                            
										tr
											td
												span.font-medium-1 Large sm text size.
											td
												code .font-medium-1
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-medium-1" >Large sm text size.</p>
													| 
                            
										tr
											td
												p Normal base text size.
											td.
												
												N/A
												
											td
												pre.language-html
													|                               
													code.
														
														                                <p>Normal base text size.</p>
													| 
                            
										tr
											td
												span.font-small-3 Small lg text size.
											td
												code .font-small-3
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-small-3" >Small lg text size.</p>
													| 
                            
										tr
											td
												span.font-small-2 Small md text size.
											td
												code .font-small-2
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-small-2" >Small md text size.</p>
													| 
                            
										tr
											td
												span.font-small-1 Small sm text size.
											td
												code .font-small-1
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="font-small-1" >Small sm text size.</p>
													| 
                            
							.card-body
								.card-text
									h5.my-1 Font weight
									p
										| Vuexy Admin provide font weight class 
										code .text-bold-{weight}
										| , where

										code {weight} value can be 300, 400, 500, 600, 700.
							.table-responsive
								table.table.mb-0.table-mx-0
									thead
										tr
											th Example
											th Classes
											th Snippet
									tbody
										tr
											td
												p.text-bold-300 Font weight 300
											td
												code .text-bold-300
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-bold-300">Font weight 300.</p>
													| 
                            
										tr
											td
												p.text-bold-400 Font weight 400
											td
												code .text-bold-400
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-bold-400">Font weight 400.</p>
													| 
                            
										tr
											td
												p.text-bold-600 Font weight 600
											td
												code .text-bold-600
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-bold-600">Font weight 600.</p>
													| 
                            
										tr
											td
												p.text-bold-700 Font weight 700
											td
												code .text-bold-700
											td
												pre.language-html
													|                               
													code.
														
														                                <p class="text-bold-700">Font weight 700.</p>
													| 
                            
							.card-body
								.card-text
									h5.my-1 Inline text elements
									p Styling for common inline HTML5 elements.
									p
										code.highlighter-rouge .mark
										|  and 
										code.highlighter-rouge .small
										|  classes are also available to apply the same styles as 
										code.highlighter-rouge <mark>
										|  and 
										code.highlighter-rouge <small>
										|  while avoiding any unwanted semantic implications that the tags would bring.
									p
										| While not shown above, feel free to use 
										code.highlighter-rouge <b>
										|  and 
										code.highlighter-rouge <i>
										|  in HTML5. 
										code.highlighter-rouge <b>
										|  is meant to highlight words or phrases without conveying additional importance while 
										code.highlighter-rouge <i>
										|  is mostly for voice, technical terms, etc.
							.table-responsive
								table.table.mb-0.table-mx-0
									thead
										tr
											th Example
											th Snippet
									tbody
										tr
											td
												p
													| You can use the mark tag to

													mark highlight
													|  text.
											td
												pre.language-html
													|                               
													code.
														
														                                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
													| 
                            
										tr
											td
												p
													del This line of text is meant to be treated as deleted text.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><del>This line of text is meant to be treated as deleted text.</del></p>
													| 
                            
										tr
											td
												p
													s This line of text is meant to be treated as no longer accurate.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
													| 
                            
										tr
											td
												p
													| 
This line of text

													ins is meant to be treated as an addition to the document.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
													| 
                            
										tr
											td
												p
													u This line of text will render as underlined
											td
												pre.language-html
													|                               
													code.
														
														                                <p><u>This line of text will render as underlined.</u></p>
													| 
                            
										tr
											td
												p
													small This line of text is meant to be treated as fine print.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><small>This line of text is meant to be treated as fine print.</small></p>
													| 
                            
										tr
											td
												p
													strong This line rendered as bold text.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><strong>This line rendered as bold text.</strong></p>
													| 
                            
										tr
											td
												p
													em This line rendered as italicized text.
											td
												pre.language-html
													|                               
													code.
														
														                                <p><em>This line rendered as italicized text.</em></p>
													| 
                            
										tr
											td
												p
													| Sample

													abbr(data-popup='tooltip', data-original-title='Abbr title') abbreviation
											td
												pre.language-html
													|                               
													code.
														
														                                <p> Sample <abbr>Abbreviations.</abbr></p>
													| 
                            
										tr
											td
												p
													| Sample

													abbr.initialism(title='HyperText Markup Language') HTML
													|  title.
											td
												pre.language-html
													|                               
													code.
														
														                                <p> Sample <abbr title="HyperText Markup Language" class="initialism">HTML.</abbr></p>
													| 
                            
										tr
											td
												var y
												|  =

												var m
												var x
												|  +

												var b
											td
												pre.language-html
													|                               
													code.
														
														                                <p> For indicating variables use the <var> tag.</p>
													| 
                            
										tr
											td
												p
													| Edit settings, press

													kbd
														kbd ctrl
														|  +

														kbd ,
											td
												pre.language-html
													|                               
													code.
														
														                                <p> Use the <kbd>  to indicate input that is typically entered via keyboard.</p>
													| 
                            
										tr
											td
												samp This text is meant to be treated as sample output from a computer program.
											td
												pre.language-html
													|                               
													code.
														
														                                <p> For indicating sample output from a program use the  <samp>  tag. </p>
													| 
                            
										tr
											td
												code Inline code snippet
											td
												pre.language-html
													|                               
													code.
														
														                                <p> Wrap inline snippets of code with <code> tag. </p>
													| 
                            
					// / Text option 
		//  END: Content
		.sidenav-overlay
		.drag-target
		//  BEGIN: Footer
		footer.footer.footer-static.footer-light.navbar-shadow
			p.clearfix.blue-grey.lighten-2.mb-0
				span.float-md-left.d-block.d-md-inline-block.mt-25
					| COPYRIGHT  2020
					a.text-bold-800.grey.darken-2(href='https://1.envato.market/pixinvent_portfolio', target='_blank') Pixinvent,
					| All rights Reserved
				span.float-md-right.d-none.d-md-block
					| Hand-crafted & Made with
					i.feather.icon-heart.pink
				button.btn.btn-primary.btn-icon.scroll-top(type='button')
					i.feather.icon-arrow-up
		//  END: Footer
		//  BEGIN: Vendor JS
		script(src='../../../app-assets/vendors/js/vendors.min.js')
		//  BEGIN Vendor JS
		//  BEGIN: Page Vendor JS
		script(src='../../../app-assets/vendors/js/ui/jquery.sticky.js')
		script(src='../../../app-assets/vendors/js/ui/prism.min.js')
		//  END: Page Vendor JS
		//  BEGIN: Theme JS
		script(src='../../../app-assets/js/core/app-menu.js')
		script(src='../../../app-assets/js/core/app.js')
		script(src='../../../app-assets/js/scripts/components.js')
		//  END: Theme JS
		//  BEGIN: Page JS
		//  END: Page JS
	//  END: Body